body {
    height: 100vh;
    background-image: linear-gradient(50deg, #000714 20%, #000E29 40%, #3f2e56);
}
h1, h2, h3, h4, h5, h6, p, a, li {
    color: #fff;
    font-family: Cosima, Impact;
    font-weight: 600;
    font-size: 2em;
}

.color-dwhite-lblack {
    color: #fff !important;
    border-color: #fff !important;
}