body {
    height: 100vh;
    background-image: linear-gradient(140deg, #000714 20%, #2e1956 80%, #4d2b90);
}
h1, h2, h3, h4, h5, h6, p, a, li {
    color: #fff;
}

.color-dwhite-lblack {
    color: #fff !important;
    border-color: #fff !important;
}