body {
    height: 100vh;
    background-image: linear-gradient(50deg, #949BA0 20%, #A0B9BF 40%, #BCD4DE);
}
h1, h2, h3, h4, h5, h6, p, a, li {
    color: #000;
    font-family: Cosima, Impact;
    font-weight: 600;
    font-size: 2em;
}

.color-dwhite-lblack {
    color: #000 !important;
    border-color: #000 !important;
}