@import './assets/fonts/fonts.scss';


// Dark & Light Theme
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
    }
    h1, h2, h3, h4, h5, h6, p, a, li {
        color: #fff;
        font-family: Cosima, Impact;
        font-weight: 600;
        font-size: 4em;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
    }
    h1, h2, h3, h4, h5, h6, p, a, li {
        color: #000;
    }
}